@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave-bg {
  background: linear-gradient(to right, #0ea5e9, #4f46e5);
  background-size: 200% 200%;
  animation: wave 2s ease infinite;
}
